body{
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: center;    
    align-items: center;
    height: 100vh;
}

.grazie h3{
    font-size: 20px;
    color: var(--bluenight_color);
}

.grazie h2{
    font-size: 35px;
    color: var(--blue_color);    
}
.grazie{
    
}
.grazie a{
    text-decoration: none;
    height: 50px;
    width: 250px;
    background-color: var(--blue_color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 5px 10px ;
}

.grazieNo a{
    text-decoration: none;
    height: 50px;
    width: 250px;
    background-color: var(--blue_color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding: 5px 10px ;
}